@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Light.ttf);
}

$white1: white;
$white2: rgb(245, 245, 245);
$black1: black;
$black2: rgb(37, 37, 37);
$color1: rgb(209, 130, 27);
$fontA: Allura, sans-serif;
$fontP: Poppins, sans-serif;
$fontR: Roboto, sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
